
@model Jiggys_Interface.Models.Vehicle

@{
    ViewData["Title"] = "DetailWithPic";
}

<partial name="_Dashboard" />

<center><h3>Vehicle Details With Pictures</h3></center>



<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleCategory.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicencePlateData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicencePlateData)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontImgFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontImgFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SideImgFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SideImgFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteriorImgFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteriorImgFilePath)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOf_Passengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOf_Passengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOf_LargeBags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOf_LargeBags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has_AirConditioner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has_AirConditioner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has_Radio_CDPlayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has_Radio_CDPlayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has_PowerSteering_Windows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has_PowerSteering_Windows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has_AutomaticTransmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has_AutomaticTransmission)
        </dd>

        

   




    </dl>
</div>


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>





<hr />

<div><!-------------------------------------->
    <h5>Front</h5>
    <div class="VehicleFrontImg">

        <a href="@Model.FrontImgFilePath" target="_blank">
            <img src="@Model.FrontImgFilePath" height="200" />
        </a>
    </div>


    <h5>Side</h5>

    <div class="VehicleSideImg">
        <a href="@Model.SideImgFilePath" target="_blank">
            <img src="@Model.SideImgFilePath" height="200" />
        </a>
    </div>


    <h5>Interior</h5>
    <div class="VehicleInteriorImg">
        <a href="@Model.InteriorImgFilePath" target="_blank">
            <img src="@Model.InteriorImgFilePath" height="200" />
        </a>
    </div>



</div><!-------------------------------------->



